extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 아람's 여행 사이트 과제
      .col-md-6
        h3 주요 기능
        ul
          li 여행지, 유저 등록/보기/변경/삭제
          li 여행지 예약
          li 사용자 관리/인증

