
doctype html
html
    head(metacharset='utf-8')
        title 사이트 모음
    body
        p=stat
        ul
            li
                a(href='./')
                    p 메인
            li
                a(href='./register')
                    p 가입창
            li
                a(href='./login')
                    p 로그인
            li
                a(href='./admin')
                    p 유저 관리창(관리자)
            li
                a(href='./register_tour')
                    p 여행지 등록(관리자)
            li
                a(href='./tour_set')
                    p 여헹지 설정(관리자)
            li
                a(href='./tour_list')
                    p 여헹지 조회
            li
                a(href='./tour_reservation_view')
                    p 예약한 여행지 조회