doctype html
html
    head(metacharset='utf-8')
        title 여행지 예약 완료!
    body
        p 여행지가 성공적으로 예약되었습니다
        p='이름 : ' +name
        p= '인원 : ' +num
        p= '가격 : ' +p
        p= '날짜 : ' +date
        a(href='./')
            p 메인

