doctype html
html
    head(metacharset='utf-8')
        title 가입 완료
    body
        p1=stat
        p 아이디
        input(type="text" name="id" value=id readonly)
        p 비밀번호
        input(type="text" name="pw" value=pw readonly)

        a(href='./')
            p 메인으로
