doctype html
html
    head(metacharset='utf-8')
        title 로그인
    body
        form(action="./login_com" method='get')
            p 아이디
            input(type="text" name="id")
            p 비밀번호
            input(type="password" name="pw")
            br
            input(type="submit" value="제출")