
doctype html
html
    head(metacharset='utf-8')
        title 사이트 모음
    body
        ul
            li
                a(href='./register')
                    p 가입창
            li
                a(href='./login')
                    p 로그인
            li
                a(href='./admin')
                    p 관리창
            li
                a(href='./register_tour')
                    p 여행지등록
            li
                a(href='./info_tour')
                    p 여행지 등록
            li
                a(href='./setting_tour')
                    p 여헹지 설정
            li
                a(href='./reservation_tour')
                    p 여헹지 예약