doctype html
html
    head(metacharset='utf-8')
        title 가입
    body
        form(action="./register_com" method="post")
            p=stat
            p 아이디
            input(type="text" name="id")
            p 비밀번호
            input(type="password" name="pw")
            br
            input(type="submit" value="회원가입")